html, body {
    margin: 0; padding:0; border: 0;
    font-family: Helvetica, sans-serif;
    text-align: center
}

button {
	cursor: pointer;
	background:none;
    border:none;
    outline: none;
    font-family: Helvetica
}

p{
	margin: auto
}

#instructions{
	color: gray
}

#score {
	position: absolute;
	top: 0;
	margin: 0;
}

#high-score {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
}